 <ul>
                {{#each post as |post|}}
                <li>
                    <h2>Blog title: {{title}}</h2>
                    <p>
                        {{> contents}}
                    </p>  
                </li>
                {{/each}}
            </ul>